<ul class="navbar-nav  mr-auto">
    <li class="nav-item">
        <a href="{#{{ path('app_account') }}#}#" class="nav-link">
            <span class="">Compte</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <span>Scores</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Score personnel</a>
            <a class="dropdown-item" href="#">Leaderboard</a>
        </div>
    </li>
</ul>
<span class="text-light mr-auto">
        {{ 'hello'|trans }} {{ app.user.username|capitalize }}
</span>
<div id="deuxieme_partie_menu" class="my-2 my-lg-0">
    <a href="{{ path('app_logout') }}" class="btn btn-outline-light mx-1">{{ 'logout'|trans }}</a>
</div>
